html {
    width: 99vw;
    height: 99vh;
    --border: 5px solid #475569;
    --box-color: #e2e8f0;
    --bg-color: #94a3b8;
    --text-color: #475569;
    --hover-color: #f1f5f9;
}

body {
    margin: 0;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
}
.mainContainer {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

#boardContainer {
    background-color: var(--box-color);
    border: var(--border);
    visibility: hidden;
    position: absolute;
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#openSidebar {
    position: absolute;
    height: 100%;
    right: -30px;
    border: var(--border);
}

#openSidebar:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#sideBar {
    visibility: hidden;
    position: absolute;
    border: var(--border);
    background-color: var(--box-color);
    height: 100%;
    width: 200px;
    right: -210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBarInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.sideBarContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 5%;
}

#sideBar input {
    width: 80%;
    margin-top: 4%;
}

#sideBarStart {
    background-color: var(--box-color);
    border: 2px solid #475569;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    width: 80%;
}

#sideBarStart:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.scoreBoard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    border: var(--border);
}

.player {
    width: 40%;
    display: flex;
    justify-content: space-around;

}

.player > h2 {
    margin: 10px;
}

.gameBoard {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.tile:hover {
    background-color: var(--hover-color);
}

#one {
    border: var(--border);
    border-top: none;
    border-bottom: none;
}

#three {
    border: 5px solid black;
    border-left: none;
    border-right: none;
}

#four {
    border: var(--border);
}

#five {
    border: var(--border);
    border-left: none;
    border-right: none;
}

#seven {
    border: var(--border);
    border-top: none;
    border-bottom: none;
}

#reset {
    position: absolute;
    bottom: 20px;
    background-color: var(--box-color);
    color: var(--text-color);
    font-weight:900;
    font-size: 1.1em;
    width: 150px;
    height: 30px;
    visibility: hidden;
}

#reset:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#setupForm {
    background-color: var(--box-color);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 75%;
    font-size: 1.1em;
    font-weight: bolder;
    position: relative;
}

input {
    border: 2px solid #475569;
    background-color: var(--box-color);
    height: 25px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.playerContainer {
    margin-top: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#winnerContainer {
    visibility: hidden;
    position: absolute;
    width: 70%;
    height: 15%;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-color);
}

#start {
    position: absolute;
    bottom: 30px;
    margin-top: 10px;
    height: 30px;
    width: 130px;
    border: 2px solid #475569;
    background-color: var(--box-color);
    font-weight: bolder;
}

#start:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

a {
    color: var(--text-color);
    font-size: 1.1em;
}

h4 {
    position: absolute;
    bottom: 0;
}